body{
    /* background-color: brown;
     background: linear-gradient(brown,#4280c9); */
     background-image: url(video-bg.jpg);
     width:96%;
    min-height: 94.2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
   padding-left: 41px;
   overflow: hidden;
   
}
body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

.wrap-container{
    width: 280px;
    background: #ffffff3d;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 130px 33px 95px;
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 140px;
    text-align: center;
overflow-x: auto;
overflow: hidden;
    
}
#img3{
    margin-top: -160px;
    margin-bottom: 60px;
    /* margin-right: 40px; */
   margin-left: 40px; 
}
.img{
    display: block;
}
.login-pic{
    width: 350px;
    margin-top: -75px;
   
}
.login-pic img{
    max-width: 100%;
    margin-top: -80px;
}
.login-form{
    width: 290px;
    margin-top: -75px;
}
.login-form-title{
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    color: white;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    width: 100%;
    display: block;
    padding-bottom: 30px;

}
.wrap-input{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
    padding-left: -40px;
}
.input{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    background: url(icon1.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 20px 10px;
    padding-left: 50px;
    
}
.input1{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    margin-top: 9px;
    background: url(icon1.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 20px 10px;
    padding-left: 50px;
    
}
.input2{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
    display: block;
    width: 73%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 50px 0 30px;
    background: url(icon3.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: 8px 2px;
    padding-left: 55px;
    margin-top: 9px;
    
}
.input3{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    background: url(icon4.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 20px 10px;
    padding-left: 50px;
    margin-top: 9px;
    
}
.input4{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    background: url(icon4.png);
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 20px 10px;
    padding-left: 50px;
    
}
.input::placeholder {
    /* padding-left: 30px; */
    background-image: url('lock-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 0.1px;
    
  }

  .input::placeholder:before {
    font-family: "Font Awesome 5 Free";
    /* content: "\f007"; */
    padding-right: 5px;
    content: "\fingerprint";
  }
.focus-input{
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #4280c9;
}
.input:focus + .focus-input{
    animation:  anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow{
    to {
        box-shadow:  0px 0px 70px 25px ;
        opacity: 0;
    }
}
@keyframes anim-shadow{
    to {
        box-shadow:  0px 0px 70px 25px ;
        opacity: 0;
    }
}

.symbol-input{
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    transition: all 0.4s
}
.input:focus + .focus-input + .symbol-input{
    color: #4280c9;
    padding-left: 28px;
}

.login-form-btn-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.login-form-btn{
    font-family:'poppins',sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    background: #4280c9;
    text-transform: uppercase;
    width: 120%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px ;
    transition: all 0.4s;
    border: none;
    

}
.login-form-btn:hover{
    background: #73a9e6;
}
.text-center{
    text-align: center;
    /* margin-left: 50%; */
}
.txt1{
    font-family: 'poppins';
    font-size: 20px;
    line-height: 1.5;
    color: black;
    margin-left: 120px;
}
.txt2{
    font-family: 'poppins';
    font-size: 20px;
    line-height: 1.5;
    color: black;
    margin-left: 5px;
}
.txt3{
    font-family: 'poppins';
    font-size: 20px;
    /* line-height: 1.5; */
    color: black;
    margin-left: 100px;
    margin-top: 10px;
    
}
.p-t-1{
    padding-top: 12px;
}
.p-t-2{
    padding-top: 136px;
}

a{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;
    font-weight: 400;
}
a:focus{
    outline: none !important;
}
a:hover{
    color: #4280c9;
}
button{
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover{
    cursor: pointer;
}

.img{
    margin-top: -30px;
    margin-left: 110px;
}
#des{
    text-align: justify;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -25px;
}
.reg{
    margin-left: -100px;
}
@media screen and (max-width:600px){
    h1{
        font-size: 36px;
        line-height: 50px;
        margin-left: 10%;
    }
    .wrap-container{
        width: 40%;
        margin-left: 10%;
        /* margin-top: 10%; */
    }
    .login-form-title{
        width: 50%;
        margin-left: 40%;
        font-size: 40px;
        margin-top: -60%;
    }
    .login-pic{
        width: 60%;
        margin-left: 18%;
        margin-top: 20%;
        display: none;
        visibility: hidden;
        
    }
    .login-form{
        width: 50%;
        margin-left: 20%;
        margin-top: 10%;
    
    }
    .wrap-input{
        width: 280%;
        margin-left: -50%;
    }
    body{
        width: 50%;
        
        
        margin-left: 15%;
        
        margin-right: 150%;
        
    }
    .login-form-btn{
        width: 700%;
        margin-left: 10%;
        /* padding-left: -10%; */
        text-align: center;
    }
    .login-form-btn-container{
        width: 50%;
        margin-left: 55%;
    }
    .reg{
        width: 50%;
        text-align: center;
        margin-left: 5%;

    }
    .img{
        width: 50%;
        text-align: center;
        display: table-row;
        padding-left: 20%;
    }
    #img3{
        /* display: none;
        visibility: hidden; */
        margin-left: 0%;
        
    }
    
}